body {
    background-color: azure;
}
.smaller-image {
    width: 100px;
    /* border-radius: 10px; */
}
.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    /* border-radius: 10px; */
    border-radius: 50%;
}
.silver-background {
    background-color: silver;
}

/* --------------------------Part 2------------------------------ */

.injected-text {
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
.yellow-box {
    background-color: yellow;
    padding:10px;
}
.red-box {
    background-color: crimson;
    color: #fff;
    /* padding: 20px; */
    /* margin: 20px; */
    /* margin: -15px; */
    /* padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px; */
    /* padding: 40px 20px 20px 40px; */
    padding: 1.5em;
}
.blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
    /* margin: 20px; */
    /* margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px; */
    margin: 40px 20px 20px 40px;
}
#orange-text {
    color: orange;
}
.blue-text {
    color: blue !important;
}
.pink-text {
    color: pink;
}

/* --------------------------Part 3------------------------------ */

:root {
    --box-color: violet;
    --box-width: 200px;
    --box-height: 200px;
}

@media (max-width: 400px) {
    :root {
    --box-color: red;
    --box-width: 100px;
    --box-height: 100px;
    }
}
.violet-box {
    height: var(--box-height);
    width: var(--box-width);
    background: var(--box-color);
    margin: auto;
}

/* --------------------------Part 4------------------------------ */

.margin-border-padding {
    margin: 100px;
    border: 100px solid black;
    padding: 100px;
    background: wheat;
    text-align: center;
}