h4 {
    text-align: center;
    background-color: rgba(45,45,45,0.1);
    padding: 10px;
    font-size: 27px;
    text-transform: uppercase;
}
p {
    text-align: justify;
}
.links {
    text-align: left;
    color: black;
    opacity: 0.7;
    margin-left: 20px;
}
.fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    margin: auto;
    padding: 4px;
    box-shadow: 10px 10px 30px rgb(117, 97, 97);
}
.cardContent {
    padding: 10px;
}
.cardText {
    margin-bottom: 30px;
}

/* ------------------------------------- */

h2 {
    font-size: 25px;
    font-family: monospace;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    position: relative;
    top: 10px;
}

p {
    line-height: 25px;
}